################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/2019_School_Class/감자프로젝트 (2)/.vs/감자프로젝트/v16/Browse.VC.db
*.db
*.db-shm
*.db-wal
*.opendb
